<mat-card>
    <mat-card-header>
        <mat-card-title>
            Phrases
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @for (phrase of phrases; track index; let index = $index) {
        <div class="phrase">
            <div>
                {{index + 1}}
            </div>
            <mat-form-field>
                <mat-label>Bpm</mat-label>
                <input matInput [(ngModel)]="phrase.bpm">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bars</mat-label>
                <input matInput [(ngModel)]="phrase.bars">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Beats</mat-label>
                <input matInput [(ngModel)]="phrase.beatsPerBar">
            </mat-form-field>
            <button mat-icon-button (click)="removePhrase(phrase)">
                <mat-icon>remove</mat-icon>
            </button>
        </div>
        }
        <button mat-icon-button (click)="addPhrase()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            Controls
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="controls-container">
            <button mat-icon-button (click)="toogleStart()">
                @if (playing) {
                <mat-icon>pause</mat-icon>
                } @else {
                <mat-icon>play_arrow</mat-icon>
                }
            </button>

            <button mat-icon-button (click)="stop()">
                <mat-icon>stop</mat-icon>
            </button>

            <mat-form-field class="bars-ahead-input">
                <mat-label>Bars Ahead</mat-label>
                <input matInput [(ngModel)]="barsAhead">
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>