mat-card {
    margin: 1rem auto;
    max-width: 600px;

    mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.phrase {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;

    mat-form-field {
        max-width: 120px;
    }


}